<div class="jumbotron">
  <h1 class="display-4">Welcome to my Rails Test App!</h1>
  <p class="lead">This is a simple Ruby on Rails application for testing purposes with Bootstrap styling.</p>
  <hr class="my-4">
  <p>Explore our pages to learn more.</p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>
